.header{
    background: #333;
    color: #fff;
    padding: 10px;
}
.header > h1{
    font-size: 1.7em;
}
.taskHeader{
    color: #fff;
}
.navlinks{
    float: right;
    padding: 10px;
    color: #fff;
}
.logoutButton{
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 11px;
}
.fa-user-circle{
    cursor: pointer;
}
.fa-check-circle{
    color: #61DBFB;
}
@media screen and (min-width: 426px){
    .header > h1{
        font-size: 2em;
    }
}