.notFoundDiv{
    background-color: #f4f4f4;
    border: 5px #61DBFB dotted;
    min-height: 100vh;
    text-align: center;
}
.notFoundInnerDiv{
    display: inline-block;
    padding: 50px;
    margin: 5px;
}
.notFoundLink{
    color: black;
    padding: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
}
.fa-link,
.fa-unlink{
    color: #61DBFB;
}