.header{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.navlinks{
    float: right;
    padding: 10px;
    color: #fff;
}
.logoutButton{
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 11px;
}